<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title || 'YAshvir Portfolio' %></title>
  <meta name="description" content="<%= description || 'Professional full-stack web development with PHP, Wordpress, Woocomerce, Shopify, Laravel, React, Vue, Node.js, Tailwind CSS, and EJS.' %>">

  <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">

  <script
    id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/e198251b957d961ee2eee3793/2b2efa492590f0cbeb22ddc0f.js");</script>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <link rel="canonical" href="<%= baseUrl + req.originalUrl %>" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= baseUrl + req.originalUrl %>" />
  <meta property="og:image" content="/assets/img/page-bg-dark-1.jpg" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="<%= title %>" />
  <meta name="twitter:description" content="<%= description %>" />
  <meta name="twitter:image" content="/assets/img/page-bg-dark-1.jpg" />
  <meta name="twitter:site" content="@devyashvirpal" />
  <meta name="twitter:creator" content="@devyashvirpal" />

</head>

<body class="font-popins ">
  <main class="py-14 h-screen w-screen bg-center bg-cover overflow-x-hidden overflow-y-auto bg-body-background-image">
    <%- include('partials/header') %>
      <section class="flex flex-col justify-between align-center gap-10 mx-4 mt-8
        lg:grid  lg:grid-flow-col lg:gap-3 lg:grid-cols-[30%_60%_12% lg:grid-cols-[27%_58%_10%]
        lg:mx-9 lg:mt-12 ">
        <%- include('partials/left-sidebar') %>
          <div class=" bg-black rounded-2xl">
            <div class=" bg-black rounded-2xl flex flex-col gap-4">
              <%- body %>
                <%- include('partials/footer') %>
            </div>
          </div>
          <%- include('partials/right-sidebar') %>
      </section>
  </main>
  <script src="/assets/js/custom.js"></script>
</body>

</html>